body {
  font-family: 'Overpass Mono', monospace;
}

main {
  display: grid;
  height: 100%;
}

a {
  text-decoration: none;
}

.green {
  color: #448361;
}

.black {
  color: #000;
  font-weight: 800;
}

.hello {
  justify-self: center;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.hello__avatar {
  max-width: 220px;
  max-height: auto;
}

.hello__title {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-bottom: 0;
}

.title__me {
  font-size: 40pt;
  font-weight: 600;
  letter-spacing: -0.2rem;
  margin-top: 50px;
  margin-bottom: 10px;
}

.title__experience {
  font-size: 13pt;
}

.description {
  margin-top: 60px;
  justify-self: center;
  max-width: 900px;
  line-height: 1.9em;
}

.divider {
  margin-top: 100px;
  height: 1px;
  background-color: #000;
  opacity: 40%;
}

.contact {
  justify-self: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.contact__link {
  font-family: 'JetBrains Mono';
  font-weight: 500;
  font-size: 13px;
}

.border {
  position: relative;
  z-index: 10;
}

.border:before,
.border:after {
  background: #448361;
  content: '';
  position: fixed;
  bottom: 0;
  top: 0;
  width: 1.2rem;
}

.border:before {
  left: 0;
}

.border:after {
  right: 0;
}

.border__horizontal:before,
.border__horizontal:after {
  background: #448361;
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  height: 1.2rem;
}

.border__horizontal:before {
  top: 0;
}

.border__horizontal:after {
  bottom: 0;
}

abbr {
  font-style: italic;
  position: relative
}

abbr:hover::after {
  font-size: 9pt;
  color: white;
  background: #448361;
  bottom: 110%;
  content: attr(title);
  display: block;
  left: 80%;
  padding: 0.7rem;
  position: absolute;
  width: 14rem;
  letter-spacing: -0.07rem;
  z-index: 1;

}

@media (max-width: 900px) {
  .avatar {
    display: none;
  }

  .hello__title {
    margin-left: 0;
  }

  .title__me {
    font-size: 24pt;
  }

  .description,
  .contact {
    margin-right: 30px;
    margin-left: 30px;
  }

  .contact__link {
    font-size: 10px;
  }
}
